#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#jewel{
    max-width: 300px;
    height:auto;
    clip-path: circle();
    
}

hr {
    border: none;
    height: 2px;
    width: 300px;
    background-color: green;

}

body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #153b49;
    color: rgb(145, 18, 18);




}

h1{
    color: pink;
    
}

h3{
    color: rgb(153, 238, 238);

}
.link{
    color:pink;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    background-color:rgb(133, 28, 133);
    border-radius: 5px;
    transition: ease 0.3s;

}

.link:hover{
    background-color:rgb(150, 123, 177);
}

.link > img {
    width: 20px;
}
